<div class="main">
  <div class="main-container">
    <div class="background">
      <div class="background-image">
        <ul>
          <li class="catch-copy">Let's Deliver Happy V!deos</li>
          <li class="application-name">V ! d e o</li>
        </ul>
        <div class="icon-image">
          <div class="image-comment">
            <%= image_tag "life_style.jpg", class:"i-image" %>LIFESTYLE
          </div>
          <div class="image-comment">
            <%= image_tag "nature.jpg", class:"i-image" %>NATURE
          </div>
          <div class="image-comment">
            <%= image_tag "running.jpg", class:"i-image" %>HOBBY
          </div>
        </div>
        <div class="background-video-box">
          <div class="video">
            <%= "videoの表示" %>
          </div>
        </div>
        <h3 class="title-lan">
          <%= "タイトル" %>
        </h3>
        <div class="background-2">
          
        </div>
      </div>
    </div>
  </div>
</div>
