<div class="main">
  <div class="main-container">
    <div class="background">
      <div class="background-image">
        <ul>
          <li class="catch-copy">Let's Deliver Happy V!deos</li>
          <li class="application-name">V ! d e o</li>
        </ul>
        <div class="icon-image">
          <div class="image-comment">
            <%= image_tag "life_style.jpg", class:"i-image" %>LIFESTYLE
          </div>
          <div class="image-comment">
            <%= image_tag "nature.jpg", class:"i-image" %>NATURE
          </div>
          <div class="image-comment">
            <%= image_tag "running.jpg", class:"i-image" %>HOBBY
          </div>
        </div>
        <% @videos.each do |video| %>
          <% if video.video.attached? %>
            <div class="background-video-box">
              <div class="video">
                <video src="<%= rails_blob_path(video.video)%>" type="video/mp4" controls="controls", width="776" height="497"></video>
              </div>
            </div>
            <h3 class="title-lan">
              <%= link_to video.title, "#", class:"title-link" %>
            </h3>
            <div class="background-2">
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
